{% extends 'base.html' %}
{% load static %}

{% block title %}Blogs{% endblock title %}


{% block content %}
    <div class="container py-4">
        <div class="row">
            <div class="row row-cols-1 row-cols-md-2 g-4">
            <div class="col">
                <div class="card">
                <img src="{% static 'images\caraousel1.jpg' %}" class="card-img-top" alt="card1">
                <div class="card-body">
                    <h5 class="card-title"> Understanding Blockchain: The Backbone of Cryptocurrency</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                <img src="{% static 'images\carousel2.jpg' %}" class="card-img-top" alt="card2">
                <div class="card-body">
                    <h5 class="card-title">Top 5 Cryptocurrencies to Watch in 2024</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                <img src="{% static 'images\carousel3.jpg' %}" class="card-img-top" alt="card3">
                <div class="card-body">
                    <h5 class="card-title">Getting Started with Crypto: A Beginner's Guide</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
                </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                <img src="{% static 'images\carousel4.jpg' %}" class="card-img-top" alt="card4">
                <div class="card-body">
                    <h5 class="card-title"> Decentralized Finance (DeFi): Revolutionizing the Financial System</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </div>
                </div>
            </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}
    {% include 'footer.html' %}
{% endblock %}

