{% extends 'base.html' %}

{% block title %}
    Support
{% endblock title %}

{% block content %}

    <h1 class="text text-center animate__animated animate__backInUp">Support Center</h1>
    <div class="container-fluid animate__animated animate__backInUp">
        <div class="row">
            <div class="card" id="cardis">
                <div class="card-body">
                    <h5>How do I reset my password ?</h5>
                    <p>In order to reset your password click on the <a href="#">link</a> and follow the procedure.</p>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h5>How does trading works ?</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error, similique minima. Similique tempora quasi pariatur nostrum corporis nemo? Iste reiciendis explicabo labore! Labore quibusdam nostrum molestias voluptas ex est debitis.</p>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h5>How can I retrieve data from my old account ?</h5>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Explicabo facere dicta exercitationem eius quos iusto dolores nostrum, accusantium, asperiores mollitia, quaerat illum consectetur non id alias saepe? Nisi, ducimus error.</p>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h5>I want to delete the account permenantly</h5>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perferendis tempora, ea modi, ex, maxime praesentium saepe cumque iure aliquam quos impedit culpa reiciendis commodi adipisci? Ex culpa odit officia accusantium.</p>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h5>Is the application secured and reliable ? </h5>
                    <p>Certainly, Our crypto trading application is highly secured from any intrusion as it consists of multi-factor authentication that asks user to provide one time password with their registered email address to verify their account.</p>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h5>What makes this application better than other trading platforms ?</h5>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas cumque facilis totam, saepe, explicabo iure possimus accusantium tenetur voluptate corporis nulla natus eveniet sed adipisci unde laboriosam provident deleniti dolorum?</p>
                </div>
            </div>
        </div>
    </div>
    <script></script>
{% endblock content %}