{% extends 'base.html' %}
{% load static %}

{% block content %}
    <canvas id="cryptoChart" width="500" height="500"></canvas>
    <div class="container">
        <div class="row">
            <div class="card">
                <div class="card-body">
                    <form class="text-center" method="post">
                        {% csrf_token %}
                        {{form.amount}}
                        {{form.from_currency}}
                        {{form.to_currency}}
                        {{form.converted_amount}}<br>
                        <button method="get">Convert</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="{% static 'js/script.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.4.1/chart.min.js"></script>
{% endblock %}
