body{
    margin: 0;
    padding: 0;
}

header{
    text-align: center;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.converter{
    border: 1px solid brown;
    padding: 20%;
    margin: 20px auto;
    max-width: 500px;
}

label{
    display: block;
    margin-bottom: 5px;
}

input[type="text"], select{
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid burlywood;
}

button{
    background-color: chocolate;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

button:hover{
    background-color: darkmagenta;
}

